<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UP99lczLAnHsIzBjtRSlaR8SjqxONxPLNrxr2t2E/uuBTBV5yBpiMAM2A62G+gmAig0i
	UxMXR8iBE5R7fg630V1fbye2nc+jIyIiGZLI8DhmLF0aRhLAOLlGULgCDOtErIfTkK+x
	bBh45w8CD+nd/KCr1qSxpMIlrk1mn75Wwx8=
	</data>
</dict>
</plist>
