<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>brackets.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Shell Script File</key>
			<string>brackets.rb</string>
			<key>Title</key>
			<string>ABC</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Wrap selected text in square brackets.</string>
	<key>Extension Identifier</key>
	<string>com.veganswithtypewriters.popclip.extension.brackets</string>
	<key>Extension Name</key>
	<string>Brackets</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
